<%= form_for([@product, @variant]) do |f| %>
  <% if @variant.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@variant.errors.count, "error") %> prohibited this variant from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @variant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@variant[:price]) %>
  </div>
  <div class="form-group">
    <%= f.label :size, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :size, :class => 'form-control' %>
    </div>
    <%= error_span(@variant[:size]) %>
  </div>
  <%= f.submit nil, :class => 'btn btn-primary', :data => { :"disable-with" => "请稍等..." } %>

<% end %>
