<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @variant.product_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @variant.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @variant.size %>
</p>

<%= link_to 'Edit', edit_product_variant_path(@product, @variant) %> | <%= link_to 'Variants', product_variants_path(@product) %>
