<div class="row">
  <div class="col-md-6">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t("helpers.links.change_password"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render "users/shared/intro" %>
  </div>
</div>
